.user-register-area .form-content {
    -webkit-box-flex: 0;
    -ms-flex: 100%;
    flex: 100%;
    width: 100%;
    max-width: 100%;
    padding: 14px;
    padding-top: 46px;
}

.user-register-area {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}