<div class="overall-info-area default-form-area">
    <form class="default-form" action="" method="POST">
        {csrf_token()}
        <div class="row">
            <div class="col-12">
                <h3 class="headline">Change Password</h3>
                <div class="form-group">
                    <input type="password" class="form-controllar" name="old_password" value="{$model->old_password}" required placeholder="Your current password">
                    <small class="text-info">Current Password</small>
                    {$model->onError('old_password')}
                </div>
                <div class="form-group">
                    <input type="password" class="form-controllar" name="new_password" value="{$model->new_password}" required placeholder="A new password">
                    <small class="text-info">New Password</small>
                    {$model->onError('new_password')}
                </div>
                <div class="form-group">
                    <input type="password" class="form-controllar" name="new_password_again" value="{$model->new_password_again}" required placeholder="Repeat password again">
                    <small class="text-info">New Password Again</small>
                    {$model->onError('new_password_again')}
                </div>

                <div class="form-submit form-group">
                    <button class="btn btn-default">Change</button>
                </div>
            </div><!--~./ col-lg-6 ~-->
        </div>
    </form><!--~./ default-form ~-->
</div><!--~./ default-form-area ~-->