<!-- preview panel -->
<div class="preview-panel">
    <div class="container">
        <div class="row">
            <div class="col-md-6 panel-image-full">
                <img src="" class="img-responsive preview-img">
            </div>
            <div class="col-md-6 panel-image">
                <span class="panel-close-button">
                    <i class="fa fa-times"></i>
                </span>
                <h2 data-target="title"></h2>
                <div class="drug-description">
                    <h4>Description</h4>
                    <div class="description">
                    <p></p>
                    </div>

                    <h4>Pharmacy</h4>
                    <p data-target="pharmacy"></p>

                    <h4>Location</h4>
                    <p data-target="preview-location"></p>

                    <a href="" class="btn btn-success preview-submit" style="color: #fff;">
                    <i class="fa fa-plus"></i> Prescribe drug
                    </a>

                    <button type="button" class="btn btn-danger close-btn" style="color: #fff;">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>