<?xml version="1.0"?>
<app id="app.yoursite.com" version="1.0">
	<title>Mediaccess Plus Reliable and accessible heathcare network system</title>
	<router>
		<default>
			<controller>App</controller>
			<view>home</view>
		</default>
	</router>
	<error handler="appError">
		<error-404>error404</error-404>
		<error-204>error204</error-204>
	</error>
	<versioning mode="auto">
		<production>0.0.1</production>
		<development>0.0.1</development>
	</versioning>
	<public>
		<support email="hello@moorexa.com"/>
		<author>www.fregatelab.com fregatelab inc.</author>
		<icon>icons.png@90:90</icon>
		<keywords>SEO keywords here</keywords>
		<description>SEO description here</description>
		<developer>Developer</developer>
	</public>
</app>
