<div class="container">

		<div class="breadcrumb-content-area" style="margin-top: 50px;">
			<div class="breadcrumb-area">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="<?=url("")?>">Home</a></li>  
					<li aria-current="page" class="breadcrumb-item active">Register</li>
				</ol>
			</div>
		</div>

		<div class="col-12 ptb-100" style="padding-bottom: 40px">
			<div class="section-header" style="margin-bottom:10px;">
				<h2 class="section-title">What Are You <span>Interested In</span></h2>
				<p>Choose an account type</p>
				<div class="divider">
					<img src="<?=$assets->image("icon/divider.png")?>" alt="icon">
				</div>
			</div>
		</div>

	<div class="row register-screen">
		<div class="col-lg-6 text-center icon-big register-column">
			<i class="feather icon-user-plus"></i>
			<h2>Patient</h2>
			<p>You can register here as a patient and start enjoying our amazing health care plans and benefits for you.</p>
			<a href="<?=url("register-as-patient")?>" class="btn btn-primary btn-back btn1">Continue</a>
		</div>
		<div class="col-lg-6 text-center icon-big register-column">
			<i class="feather icon-users"></i>
			<h2>Medical Pratitional</h2>
			<p>You can register here as a doctor, nurse, laboratory, hospital, pharmacy, ambulance unit to provide health care services</p>
			<a href="<?=url("register/non-patient")?>" class="btn btn-primary btn-back btn2">Continue</a>
		</div>
	</div>
</div>