@alert;
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
            <div class="default-form-area">
                <h3 class="headline">Overview</h3>
                <div class="row">
                    <div class="col-xl-4">
                        <h6>This Week</h6>
                        <h4 class="color-primary">{$thisWeek}</h4>
                    </div>
                </div>
                <div id="simple-line-chart" class="ct-chart ct-golden-section"></div>
            </div><!--~./ end default form area ~-->
        </div>
        
        <div class="col-lg-3">
            <div class="default-form-area">
                <h3 class="headline">Activities</h3>
                <div class="test-scroll ps ps--active-y" style="height:286px;position:relative;overflow: scroll !important;">
                    <div class="card-body p-b-0" style="padding: 0px;">
                        {$activity = db('activities')->get('accountid=?',$this->id)->orderby('activityid','desc')->limit(0,30);}
                        @fetch($activity, row)
                            <div class="card-notification">
                            <div class="card-noti-conatin">
                            <small>{get_time_ago($row->time_added)}</small>
                            <p class="text-muted m-b-30">{$row->activity}</p>
                            </div>
                            </div>
                        @endfetch
                    
                    </div>
                </div>
            </div><!--~./ end default form area ~-->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9">
            <div class="default-form-area">
                @isPatient
                    <h3 class="headline">Recent Orders</h3>
                    {$orders = orders::get('fromid=:myid');}
                    <div class="upcoming-events">
                        <div class="row">
                            <div class="col-xl-4">
                                <h6>All Time</h6>
                                <h4 class="color-primary">₦<?=number_format($orders->reduce(function($r){
                                    return $r->from('payments')->get()->reduce('amount');
                                }), 2, '.', ',')?></h4>
                            </div>
                        </div>
                        <div class="table-responsive mt-15">
                            <table class="table">
                                @fetch ($orders, 'order')
                                    {$account = $order->from('account')->get();}
                                    {$accounttype = $account->from('account_types')->get();}
                                    {$photo = $account->from('web_photo', 'accountid')->get()->profile_image;}
                                    <tr>
                                        {$photo = $photo == null ? 'man-3.png' : $photo;}
                                        <td><img src="{image($photo, '35:35')}" alt=""></td>
                                        <td>{ucwords($account->firstname . ' ' . $account->lastname)}
                                            <a $href="list/{$accounttype->accounttype}">{$accounttype->accounttype}</a>
                                        </td>
                                        <td><span class="badge badge-{$order->status}">{$order->status}</span></td>
                                        <td>₦{number_format($order->from('payments')->get()->amount, 2, '.', ',')}</td>
                                        <td>
                                            {get_time_ago($order->dateissued)}
                                        </td>
                                        @if ($order->dateclosed == null)
                                        <td>
                                            <a $href="conversation/$order->orderid" class="btn btn-success" style="color: #fff;" target="_blank">Chat</a>
                                        </td>
                                        @else
                                        <td>
                                            <span class="badge badge-danger">Closed</span>
                                        </td>
                                        @endif
                                    </tr>
                                @endfetch
                            </table>
                        </div>
                    </div><!--~./ end upcoming events ~-->
                @endif

                @isPharmacy
                    {$cart = Query::getPharmacyShoppingCart();}
                    @if ($cart->rows > 0)
                        <h3 class="headline">Orders</h3>
                        <div class="upcoming-events">
                            <div class="row">
                                <div class="col-xl-4">
                                    <h6>All Drugs Purchased</h6>
                                    <h4 class="color-primary">{Wrapper::money($cart->reduce('amount'))}</h4>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive mt-15">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Drug</th>
                                        <th>Quantity</th>
                                        <th>Amount</th>
                                        <th>Shipping</th>
                                        <th>Time</th>
                                        <th>Tracking</th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    @fetch ($cart, 'c')
                                        <tr data-href="orders/cart-order/{$c->cartid}">
                                            <td>{$c->from('drugs', 'drugid')->get()->drug_name}</td>
                                            <td style="text-align:center;">{$c->quantity}</td>
                                            <td>{Wrapper::money($c->amount)}</td>
                                            <td>{$c->shipping}</td>
                                            <td>{get_time_ago($c->dateRequested)}</td>
                                            <td>
                                                @if ($c->dateDelivered == null)
                                                    <span class="badge badge-pending">Pending {$c->shipping == 'pickup' ? 'Collection' : 'Delivery'}</span>
                                                @else
                                                    <span class="badge badge-success">Order Complete</span>
                                                @endif
                                            </td>
                                        </tr>
                                    @endfetch
                                </tbody>
                            </table>
                        </div>
                    @endif
                @else

                    @isNotPatient
                        <h3 class="headline">Recent Orders</h3>
                        {$orders = orders::get('accountid=:myid');}
                        <div class="upcoming-events">
                            <div class="row">
                                <div class="col-xl-4">
                                    <h6>All Time</h6>
                                    <h4 class="color-primary">₦<?=number_format($orders->reduce(function($r){
                                        return $r->from('payments')->get()->reduce('amount');
                                    }), 2, '.', ',')?></h4>
                                </div>
                            </div>
                            
                            <div class="table-responsive mt-15">
                                <table class="table">
                                    @fetch ($orders, 'order')
                                        {$account = account::get('accountid=?', $order->fromid);}
                                        {$accounttype = $account->from('account_types')->get();}
                                        {$photo = web_photo::get('accountid=?', $order->fromid)->profile_image;}
                                        <tr data-href="order-{$order->orderid}">
                                            {$photo = $photo == null ? 'man-3.png' : $photo;}
                                            <td><img src="{image($photo, '35:35')}" alt=""></td>
                                            <td>{ucwords($account->firstname . ' ' . $account->lastname)}
                                                @if ($accounttype->accounttype != 'Patient')
                                                    <a $href="list/{$accounttype->accounttype}">{$accounttype->accounttype}</a>
                                                @endif
                                            </td>
                                            <td><span class="badge badge-{$order->status}">{$order->status}</span></td>
                                            <td>₦{number_format($order->from('payments')->get()->amount, 2, '.', ',')}</td>
                                            <td>
                                                {get_time_ago($order->dateissued)}
                                            </td>
                                        </tr>
                                    @endfetch
                                </table>
                            </div>
                        </div>
                    @endif

                @endif
            </div><!--~./ end default form area ~-->
        </div>
        
    </div>
</div>