<div class="container">
	<div class="ptb-10" style="padding-bottom: 40px">
		<div class="section-header" style="margin-bottom:10px;">
			<h2 class="section-title">Recent Orders</h2>
			<p>Review your orders.</p>
			<div class="divider">
				<img $src="icon/divider.png" alt="icon">
			</div>
		</div>
	</div>
	@alert;
	@partial('notification', ['type' => 'danger', 'title' => 'Finish Order', 'message' => 'This action would close this order and concludes every transactions with this pharmacy. Click "Okay" to continue']);
	<div class="row">
		<div class="col-lg-12">
				@isPatient
					{$orders = orders::get('fromid=:myid');}

					@if ($orders->rows > 0)
						<div class="default-form-area">
							<div class="upcoming-events">
								<div class="row">
									<div class="col-xl-4">
										<h6>All Services Requested</h6>
										<h4 class="color-primary">₦<?=number_format($orders->reduce(function($r){
											return $r->from('payments')->get()->reduce('amount');
										}), 2, '.', ',')?></h4>
									</div>
								</div>
								<div class="table-responsive mt-15">
									<table class="table">
										@fetch ($orders, 'order')
											{$account = $order->from('account')->get();}
											{$accounttype = $account->from('account_types')->get();}
											{$photo = $account->from('web_photo', 'accountid')->get()->profile_image;}
											<tr>
												{$photo = $photo == null ? 'man-3.png' : $photo;}
												<td><img src="{image($photo, '35:35')}" alt=""></td>
												<td>{ucwords($account->firstname . ' ' . $account->lastname)}
													<a $href="list/{$accounttype->accounttype}">{$accounttype->accounttype}</a>
												</td>
												<td><span class="badge badge-{$order->status}">{$order->status}</span></td>
												<td>₦{number_format($order->from('payments')->get()->amount, 2, '.', ',')}</td>
												<td>
													{get_time_ago($order->dateissued)}
												</td>
												@if ($order->dateclosed == null)
												<td>
													<a $href="conversation/$order->orderid" class="btn btn-success" style="color: #fff;" target="_blank">Chat</a>
												</td>
												@else
												<td>
													<span class="badge badge-danger">Closed</span>
												</td>
												@endif
											</tr>
										@endfetch
									</table>
								</div>
							</div><!--~./ end upcoming events ~-->
						</div>
					@endif

				@else
					{$orders = orders::get('accountid=:myid');}

					@if ($orders->rows > 0)
						<div class="default-form-area">
							<div class="upcoming-events">
								<div class="row">
									<div class="col-xl-4">
										<h6>All Time</h6>
										<h4 class="color-primary">₦<?=number_format($orders->reduce(function($r){
											return $r->from('payments')->get()->reduce('amount');
										}), 2, '.', ',')?></h4>
									</div>
								</div>
								
								<div class="table-responsive mt-15">
									<table class="table">
										@fetch ($orders, 'order')
											{$account = account::get('accountid=?', $order->fromid);}
											{$accounttype = $account->from('account_types')->get();}
											{$photo = web_photo::get('accountid=?', $order->fromid)->profile_image;}
											<tr data-href="order-{$order->orderid}">
												{$photo = $photo == null ? 'man-3.png' : $photo;}
												<td><img src="{image($photo, '35:35')}" alt=""></td>
												<td>{ucwords($account->firstname . ' ' . $account->lastname)}
													@if ($accounttype->accounttype != 'Patient')
														<a $href="list/{$accounttype->accounttype}">{$accounttype->accounttype}</a>
													@endif
												</td>
												<td><span class="badge badge-{$order->status}">{$order->status}</span></td>
												<td>₦{number_format($order->from('payments')->get()->amount, 2, '.', ',')}</td>
												<td>
													{get_time_ago($order->dateissued)}
												</td>
												@if ($order->dateclosed != null)
												<td>
													<span class="badge badge-danger">Closed</span>
												</td>
												@endif
											</tr>
										@endfetch
									</table>
								</div>
							</div>
						</div>
					@endif

				@end
			</div><!--~./ end default form area ~-->
		</div>
	</div>

	{$cart = Query::getPharmacyShoppingCart();}
	@if ($cart->rows > 0)
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="default-form-area">
					<div class="upcoming-events">
						<div class="row">
							<div class="col-xl-4">
								<h6>All Drugs Purchased</h6>
								<h4 class="color-primary">{Wrapper::money($cart->reduce('amount'))}</h4>
							</div>
						</div>
					

						<div class="table-responsive mt-15">
							<table class="table">
								<thead>
									<tr>
										<th>Drug Name</th>
										<th>Quantity</th>
										<th>Amount</th>
										<th>Shipping Mode</th>
										<th>Time</th>
										<th>Tracking</th>
										<th></th>
									</tr>
								</thead>

								<tbody>
									@fetch ($cart, 'c')
										<tr data-href="orders/cart-order/{$c->cartid}">
											<td>{$c->from('drugs', 'drugid')->get()->drug_name}</td>
											<td style="text-align:center;">{$c->quantity}</td>
											<td>{Wrapper::money($c->amount)}</td>
											<td>{$c->shipping}</td>
											<td>{get_time_ago($c->dateRequested)}</td>
											<td>
												@if ($c->dateDelivered == null)
													<span class="badge badge-pending">Pending {$c->shipping == 'pickup' ? 'Collection' : 'Delivery'}</span>
												@else
													<span class="badge badge-success">Order Complete</span>
												@endif
											</td>
											<td>
												@if ($c->dateDelivered == null)
													<a $href="orders/cart-order/$c->cartid" class="btn btn-success" style="color: #fff; font-weight: normal;">Order Details</a>
												@endif
											</td>
										</tr>
									@endfetch
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@endif

	{$cart = Query::getUserShoppingCart();}
	@if ($cart->rows > 0)
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="default-form-area">
					<div class="upcoming-events">
						<div class="row">
							<div class="col-xl-4">
								<h6>All Drugs Ordered</h6>
								<h4 class="color-primary">{Wrapper::money($cart->reduce('amount'))}</h4>
							</div>
						</div>

						<div class="table-responsive mt-15">
							<table class="table">
								<thead>
									<tr>
										<th>Pharmacy</th>
										<th>Drug</th>
										<th>Quantity</th>
										<th>Amount</th>
										<th>Shipping</th>
										<th>Time</th>
										<th></th>
									</tr>
								</thead>

								<tbody>
									@fetch ($cart, 'c')
										<tr>
											<td>{$c->from('pharmacies', 'pharmacyid')->get()->pharmacy_name}</td>
											<td>{$c->from('drugs', 'drugid')->get()->drug_name}</td>
											<td style="text-align:center;">{$c->quantity}</td>
											<td>{Wrapper::money($c->amount)}</td>
											<td style="text-align:center;">{$c->shipping}</td>
											<td>{get_time_ago($c->dateRequested)}</td>
											<td>
												@if ($c->dateDelivered == null)
													<a $href="orders/trigger-confirm?tracking=complete&ref={$c->txref}:{$c->cartid}" class="btn btn-success" style="color: #fff;">Recieved?</a>
												@else
													<span class="badge badge-success">Order Complete</span>
												@endif
											</td>
										</tr>
									@endfetch
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@endif

</div>