<div class="container">

	<div class="breadcrumb-content-area" style="margin-top: 50px;">
		<div class="breadcrumb-area">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a $href="/">Home</a></li>  
				<li aria-current="page" class="breadcrumb-item active">Contact</li>
			</ol>
		</div>
	</div>

	<div class="col-12 ptb-100" style="padding-bottom: 40px">
		<div class="section-header" style="margin-bottom:10px;">
			<h2 class="section-title">Leave us a <span>Message</span></h2>
			<p>We are {$timing} for the day.</p>
			<div class="divider">
				<img $src="icon/divider.png" alt="icon">
			</div>
		</div>
	</div>

	<div class="row">
		
		<div class="col-lg-7 contact-form-wrapper">
			<form class="contact-form">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<input class="form-controller" id="form_name" name="name" placeholder="Full Name" type="text">
						</div>
					</div><!--./ col-lg-6 -->
					<div class="col-lg-6 col-md-6">
						<div class="form-group">
							<input class="form-controller" id="form_email" name="email" placeholder="Email Address" type="email">
						</div>
					</div><!--./ col-lg-6 -->
					<div class="col-12">
						<div class="form-group">
							<input class="form-controller" id="form_subject" name="subject" placeholder="Subject Title" type="text">
						</div>
					</div><!--./ col-lg-6 -->
					<div class="col-12">
						<div class="form-group">
							<textarea class="form-controller" id="form_message" name="message" placeholder="Your Message"></textarea>
						</div>
					</div><!--./ col-lg-6 -->
					<div class="col-12 text-left">
						<button type="submit" class="btn btn-default btn-sumbit"><span>submit message</span></button>
					</div><!--./ col-lg-6 -->
				</div> 
			</form><!--./ contact-form -->
		</div>

		<div class="col-lg-5">
			<div class="contact-info-area text-right">
				<h3>Mediaccessng Abuja, Nigeria</h3>
				<p>Suite 401, Gudu Apo Abuja, Nigeria</p>
				<div class="contact-info-list">
					<div class="single-info">
						<span class="icon-call"></span>
						+234810001100
					</div><!--~./ single-info ~-->
					<div class="single-info">
						<span class="icon-email"></span>
						<a href="mailto:support@mediaccessng.com">support@mediaccessng.com</a>
					</div><!--~./ single-info ~-->
					<div class="single-info">
						<span class="icon-broken-link"></span>
						<a href="https://www.mediaccessng.com" target="_blank">mediaccessng.com</a>
					</div><!--~./ single-info ~-->
				</div><!--~./ contact-info-list ~-->
				<ul class="social-share">
					<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
					<li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
				</ul><!--~./ social-share ~-->
			</div><!--~./ contact-info-area ~-->
		</div>
	</div>