<div class="container">
	<div class="breadcrumb-content-area" style="margin-top: 50px;">
		<div class="breadcrumb-area">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a $href="/">Home</a></li>  
				<li class="breadcrumb-item"><a $href="sign-in">Login</a></li>  
				<li aria-current="page" class="breadcrumb-item active">Password Reset</li>
			</ol>
		</div>
	</div>
</div>

<div id="reg_form_model">
		<div class="modal-dialog register-modal-area forget-password" role="document">
			<div class="register-modal-area-outer-inner">
				
				<div class="modal-content user-register-area">
					
					<!--~~~ Start User Password Reset Area ~~~--> 
					<div class="user-signin-area">
						<div class="user-left-thumb">
							<img $src="medical-screen.jpg" alt="thumb">
						</div>

						<div class="form-content">
							<div class="form-content-signin">
								<h3>Account recovery</h3>
								<form class="default-form signin-form" action="" method="post">
									{csrf_token()}
									@alert;
									<div class="form-group">
										<input id="email" name="email" class="form-controllar" type="email" placeholder="Email Address" value="{$model->email}" required>
										{$model->onError('email')}
									</div><!--/.form-group-->

									<div class="form-group">
										<input id="pass" name="new_password" class="form-controllar" type="password" placeholder="New Password" required>
										{$model->onError('new_password')}
									</div><!--/.form-group-->

									<div class="form-group">
										<input id="pass" name="new_password_again" class="form-controllar" type="password" placeholder="New Password Again" required>
										{$model->onError('new_password_again')}
									</div><!--/.form-group-->

									<div class="form-btn-group">
										<button type="submit" class="btn btn-default">
											reset
										</button>
									</div>
								</form>  
								<br>
								<div class="login-form-register-now">
									Dont have an account? <a class="btn-register-now" $href="register">Register Now</a>
								</div>
							</div>
						</div>
					</div><!--~./ end user signin area ~--> 
					
				</div>
			</div>
		</div>
</div>